<div >
  <h3>{{todo.name}}<button (click)="edit('name')">edit</button></h3>
  {{todo.description}}<button (click)="edit('description')">edit</button><br><br>
  {{todo.eta | date : 'yyyy dd MM'}}
</div>
