<div>
  <form (submit)="submit()">
    Name : <input [(ngModel)]="newTodo.name" name="x"><br>
    Description : <input [(ngModel)]="newTodo.description" name="y"><br>
    Eta : <input [(ngModel)]="newTodo.eta" name="z" type="date"><br>
    <button>Add</button>
  </form>
</div>
